WcfTest/Service References/SR/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4000/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GLD.GBES.Common" />
  <xs:element name="GetProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="categoryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GLD.GBES.Common" minOccurs="0" name="GetProductsResult" nillable="true" type="q1:PagedListOfProductDTn8hc1t" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>